.friend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;

    border: solid;
    border-radius: 24px;
    border-color: black;
    border-width: 2px;

    display: flex;
    flex-direction: row;
    margin: 4px;
}

.friend img {
    width: 96px;
    border-radius: 24px;
}

.imageLoc{
    display: flex;
    flex-flow: row-reverse;
}

.location {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    margin: 4px;
}

.text {
    display:flex;
    flex-flow: column;
    flex: 1;
    margin: 4px;
}

.name {                   
    font-size: 24px;
    font-weight: 700;
}

.info{
    font-size: 16px;
    word-break: break-word;
}