.nav {
    grid-area: nav;
    background-color:rgb(139, 158, 177);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.item a{
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: peachpuff;
}

