.item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: azure;

    border: solid;
    border-radius: 16px;
    border-color: black;
    border-width: 2px;
    

    display: flex;
    flex-direction: row;
    margin: 4px;
}

.item img{
    width: 64px;
    border-radius: 16px;
}

.imageLike{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin: 8px;
    word-break: break-word;
}