.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "header header"
  "con nav";
  


  grid-template-rows: 64px 1fr;
  grid-template-columns: 10fr 2fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: con;
  background-color:darkgray;
  border-radius: 16px;
  padding: 8px;
}
